/* ChatRoom.css */
.chat-room {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .chat-room__title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
  }
  
  .chat-room__messages {
    margin-bottom: 20px;
  }
  
  .chat-room__message {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }
  
  .chat-room__message-username {
    font-weight: bold;
    margin-right: 10px;
    color: #333;
  }
  
  .chat-room__message-delete {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .chat-room__message-delete:hover {
    background-color: #c0392b;
  }
  
  .chat-room__input-container {
    display: flex;
  }
  
  .chat-room__input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
  }
  
  .chat-room__send-button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .chat-room__send-button:hover {
    background-color: #2980b9;
  }
  
  /* Media queries for mobile-first approach */
  @media (max-width: 600px) {
    .chat-room {
      max-width: 100%;
      border-radius: 0;
      padding: 10px;
    }
    
    .chat-room__title {
      font-size: 20px;
      margin-bottom: 10px;
    }
    
    .chat-room__message {
      padding: 8px;
      margin-bottom: 8px;
    }
    
    .chat-room__input {
      padding: 8px;
    }
    
    .chat-room__send-button {
      padding: 8px 16px;
    }

    .logout-button {
      padding: 8px 16px;
      /* border-radius: 5px; */
      color:#c0392b
    }
  }
  